/* navigation */
#navbar{
    flex-direction: column;

}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 6px;
}
/* home section */
#home{
height: 387px;
/* flex-direction: column; */
padding: 2px 70px;
}
#home::before{
    height: 480px  ;
}
#home p{
    font-size: 0.9rem;
}
/* services section */
#services{
    flex-direction: column;
}
#services .box{
  

}
/* client section */
#clients{
    

}
/* contact section */

/* footer */
/* utility classes */
.h-primary{
    font-size: 1.6rem;
}
.btn{
    font-size: 14px;
    padding: 3px 12px;
}